{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<style>
    .size{
    font-size:25px;

    }

    .clear{
    clear: both;
    }

    /*histry */

    .fontf{
    font-family: fantasy;
    }


</style>


<div class="container">
    <h2 class="clear"><u class="fontf">About Indeain Steel Factory </u></h2>
    <p class="size"> Indeain Steel Factory is a ISO 9001: 2015 and OHSAS 18001: 2007 certified company, established in
        the year 2013, having
        its operations pan India & have done over 200 installations across India, Value continues to offer wide range of
        products, services like design, manufacturing, installationand cost effective solution for all your project
        needs
        and further integrates Turnkey Solutions extending offerings in Civil, Interiors and project Management
        Services.
        ValueB having its registered office and headquarters in Bangalore & Branch in Mumbai to cater Industrial &
        Architectural steel structure and roofing requirements. ValueB with wide range of roofing products, specializes
        in tailored solution to meet individual customer needs, providing concept, design, material selection, sourcing,
        fabrication & Installation by meeting customer’s particular schedule and needs.</p>

    <p class="size"><b>6 years of ValueB journey started with 3 people & today withdirect & indirect employment for over
            500 people and
            Target for2022 is 1000+</b></p>

    <p class="size"> ValueB offers complete Turnkey solutions from Concept to Commercial in wide range of segments with
        multi range
        products and integration technology. Offering civil, interior, design & construction solutions, have given great
        competitive advantage. </p>

    <p class="size">Indeain Steel Factory with its knowledge & offerings of wide range of roofing sheets combined with
        its expertise of
        installation, has over the years developed a unique technique, system and skill of integrating various roofing
        products into a single application designing transparent, translucent & opaque solutions to meet toughest need
        of
        customer, giving both natural light and a permanent roof with a water tightness.</p>

    <p class="size"><i> 6 years journey ofValueB completed 200+small / medium / large projects and today proud to say 50
            to
            60% of our revenue is through repeat & referral business. </i></p>



    <h3 class="fontf">Why Us?</h3>
    <p class="size">Our products are tried and tested before they are sent to the customers. We
        distinguish ourselves amongst the top MS square bar manufacturers in India.
        Therefore, we make sure that each of our products stands true to its quality as well
        as the reputation of Vardhman Group. We are also amidst the very few mild steel
        round bars suppliers in the country. We offer an extensive range of Mild steel
        square bar sizes. Therefore, one gets to choose from the wide array of sizes
        according to their project requirements. This also reduces the workload of the
        buyers as they do not have to cut or weld too much of the mild steel square bars to
        their desired shape.</p>


</div>



{% endblock body %}