{% extends 'base.html' %}
{% block title %} MS Channels {% endblock title %}
{% block body %}

<style>
    #heading {
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        text-shadow: 0px 3px gray;

    }

    .img {
        height: 500px;
        width: 80%;
    }

    .floath {
        float: left;
    }

    .clear {
        clear: both;
    }

    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
        padding: 10px;
    }
</style>

<h1 id="heading">MS Channels </h1>

<div class="container">
    <div class="floath"><img src="static/pro2.jpg" class="img"> <br><br> </div>

    <div>
        <p><i><u> Indeain Steel </u>supplies a wide range of Mild Steel (MS) Channels. MS Channels are used for
                manufacturing of truck-trailers, Tippers, generators frames, EOT cranes, ship building,
                factory sheds, conveyors, Cable Trays, boilers, agricultural equipment, Bus body,
                Mechanised parking system, construction of bridges and many more engineering
                industries.</i></p>
    </div>

    <P><i>Modern <b> MS Channels </b> offered can be offered at the finish. MS Channels are available in various shapes
            and sizes. Some of its features include quality hot rolled finish, discovering use in the manufacture of
            steel structure, in bridges, for automobile chassis and others, permits simple work-capacity including
            framing, cutting, welding and machining support, the decision of hot plunged stirred, pre-aroused, covered
            and other completion according to the prerequisites.</< /P>
            <ol class="clear">
                <h2>What are the advantages of Channels?</h2>
                <li>High strength</li>
                <li>Comes in different shapes</li>
                <li>Malleable</li>
                <li>Excellent surface finish</li>
            </ol>

</div>




{% endblock body %}