{% extends 'base.html' %}
{% block title %} MS Angles {% endblock title %}
{% block body %}

<style>
    #heading {
        text-align: center;
        font-weight: bold;
        margin-top: 7px;
    }

    .floath {
        float: left;
    }

    .img {
        height: 600px;
        width: 80%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        width: 200px;
        height: 10px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .clear {
        clear: both;
    }
</style>

<h1 id="heading">MS Angles </h1>

<div class="container">
    <div class="floath"><img src="static/pro3.jpg" class="img"> <br><br> </div>

    <div style="margin-top: 50px;">
        <p><i>An <b> MS angle</b>, also known as a Mild Steel angle, is a cross-section with an
                L shape that is used in building several projects of houses and buildings.
                The far more common Mild Steel angles are those that form a 90-degree
                angle with two sides that are equal in length and width. Angles with
                uniform sides are referred to as equal angles, while those with one side
                larger than the other are referred to as unequal angles. Bharat Steels is
                a well-known manufacturer of Mild Steel angles and is one of the top Steel
                Dealers in Chennai. Our Mild Steel angles have superior mechanical
                properties and are extremely easy to weld, drill, and cut to meet the
                specific needs of each construction.</i></p>
        <h5><i>What is the weight of a Mild Steel angle per meter and how is it calculated?</i> </h5>
        <ul>
            <li>Mild Steel angles are steeled L-shaped structures that are represented by the
                dimensions of their sides and thickness.</li>
            <li>Mild Steel angle is made up of two parts: flange and web.</li>
            <li>The bottom and horizontal part of a Mild Steel angle is known as the flange,
                and the top vertical part of a Mild Steel angle is known as the web.</li>
            <li>It has equal sides, for example, 50506 mm means that both the flap and web of
                a Mild Steel angle are 50 mm in length and 6 mm in thickness.</li>

        </ul>
    </div>

    <div class="clear">
        <table>

            <tr>
                <th>Size in mm</th>
                <th>KG/MTR</th>
                <th>KG/FT</th>
            </tr>

            <tr>
                <td>20 x 4</td>
                <td>0.79</td>
                <td>0.24</td>
            </tr>

            <tr>
                <td>21 x 6</td>
                <td>1.00</td>
                <td>0.30</td>
            </tr>

            <tr>
                <td>25 x 5</td>
                <td>0.98</td>
                <td>0.30</td>
            </tr>

            <tr>
                <td>25 x 6</td>
                <td>1.18</td>
                <td>0.40</td>
            </tr>


        </table>
    </div>
</div>



{% endblock body %}