{% extends 'base.html' %}
{% block title %} MS Square Bars {% endblock title %}
{% block body %}

<style>
    #heading {
        text-align: center;
        font-weight: bold;
        margin-top: 7px;
    }

    .img {
        height: 500px;
        width: 80%;
    }

    .floath {
        float: left;
    }


    .clear {
        clear: both;
    }
</style>

<h1 id="heading">MS Square Bars </h1>

<div class="container">
    <div class="floath"><img src="static/pro7.jpg" class="img"> <br><br> </div>

    <div>
        <p><i>We supply Mild Steel Angles which are widely used in construction and fabrication
                industry. We distribute these steel ms_square_bar-300x225 with quality Mild Steel
                or MS Angles using high grade raw material. These are provided with stiffness,
                strength and hardness; it is used in brackets, frames, reinforcements and trims,
                among various other applications. Our supplied steel is durable in nature that can
                withstand any weather conditions. We supply these steel with different sizes and
                shapes as per the client requirements.</i></p>

        <h5>What are the uses of Mild Steel Square Bars?</h5>
        <p>Mild Steel Bars, also known as <u>MS square bars</u>, are most commonly used in the
            construction of frames, fences, gates, trailers, etc. It is also used to build
            heavy-duty industrial units or to support the structure of the huge machines we
            see in the factories. Wherever one requires rigidity to a structure made of metal,
            mild steel bars come in handy. They easily go under the machine and give you the
            best sturdiness of all other materials. You can see these bars commonly used in
            applications that are built to last for a very long time. In simpler words,
            these bars are used to fix semi-permanent projects.</p>

    </div>
</div>

{% endblock body %}