{% extends 'base.html' %}
{% block title %} MS Flat Bars {% endblock title %}
{% block body %}

<style>
    #heading {
        text-align: center;
        font-weight: bold;
        margin-top: 7px;
    }

    .img {
        height: 650px;
        width: 90%;
    }

    .floath {
        float: left;
    }


    .clear {
        clear: both;
    }
</style>

<h1 id="heading">MS Flat Bars </h1>

<div class="container">
    <div class="floath"><img src="static/pro5.jpg" class="img"> <br><br> </div>

    <div>
        <p>We supply a wide range of Mild Steel (MS) Flat Bars. MS Flat Bars are used
            by Grating manufactures, cable trays, bright bar industries, automobile and
            auto-ancillaries, Truck trailers, Tippers, Railways, bus body, elevators and
            escalators, Scaffolding manufacturers, Base plates, Earthing material, Ship
            building, washers, flanges,clamps and many more engineering industries.
        </p>
    </div>
</div>


{% endblock body %}